* {
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$ff: "Poppins", 'sans-serif';

$background: #131313;
$white: #FFFFFF;
$secondary-text: #FFFFFF75;
$contrast: #1C1C1C;
$accent: #49cca5;


.ff-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ff-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ff-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
}

.navigation {
    display: flex;
    gap: .25rem;
    align-items: center;
    text-decoration: none;

}

button,
input,
textarea {
    outline: none;
    border: none;
    font-family: $ff;
}


body {
    font-family: $ff;
    background-image: url("../assets/images/background-recipe.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 70%;
    color: $white;
    text-align: center;
    min-height: 100dvh;

}

#app {
    display: grid;
    gap: clamp(1rem, 2vw, 3rem);
    
}

h1 {
    font-size: 2.5rem,
}

h2 {
    font-size: 1.75rem
}

.accent {
    color: $accent
}

@media (max-width: 800px) {
    html {
        font-size: 12px;
    }

}

@import './components/header';
@import './components/recipe';
@import './components/home';
@import './components/category';
@import './components/add';
